* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-decoration: none;

}



.nav {
  background-color: #000000;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  gap: 20px;
}


.text {
  width: 100%;
  display: flex;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 3vh;
  font-size: 5vh;
}

.page {
  display: flex;
  font-size: 7vh;
  font-family: serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  margin: 20vh;
}

.space {
  margin: 10px;
}